#container {
    width: 900px;
    margin: 0 auto;
}

#title {
    text-align: center;
}

#country-title {
    text-align: center;
}

#confirmed-cases {
    margin: 0;
}

#confirmed-deaths {
    margin: 0;
}

.widgetBRA {
    border: solid 2px black;
    width: 11em;
    height: 11em;
    text-align: center;
    margin-top: 1em;
}

#set-widgets {
    display: flex;
    justify-content: space-around;
}

/* #option-not-displayed {
    display: none;
} */